body{
	 background-image: url("../images/mk1.jpg")

}
h1{
	text-align:center;
	text-overflow: all;
}
.jumbotron{
	opacity:0.3%;
}
.btn{
	background-image: center;
	background-image-size: 80px 60px;
	list-style-type: none;
	overflow:hidden;
	max-width: 300px;
    max-height: 300px;
    float: left;
	
}
#char1{
	background-size: auto;
	background-repeat: no-repeat;
	
}
#char2{
	background-repeat: no-repeat;
	
}
#char3{
	background-image
	background-repeat: no-repeat;
	

}
#char4{
	background-image
	background-repeat: no-repeat;
	
	
}
.character {
	width: 200px;
	height: auto;
}