body{
	background-image: url("../images/background.jpg");
	overflow:auto;
}
h1{
	text-align:center;
	
}
button {
	
}
.jumbotron{
	opacity:0.3%;
}
.character{
    float: left;
    width: 150px;
	height: 150px;
}
.character:hover{background-color: red;}
.character:active{ 
	background-color: #3e8e41;
 	box-shadow: 0 5px #666;
 	transform: translateY(4px);}

.btn button{
	background-color: transparent;
	border: none;
	outline: none;
	color: black;
	
	}
	